[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
requests = "*"
firstclasspostcodes = {editable = true,path = "."}

[dev-packages]
pytest = "*"
flake8 = "*"
mock = "*"
zipp = "==3.3.2"
pathlib2 = "*"
